In [ ]:
class Employee:
    # Class variables
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        # Update class variables
        Employee.employee_count += 1
        Employee.total_salary += salary


    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count


# FulltimeEmployee inherits from Employee
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


# Creating instances
emp1 = Employee("Ganesh", "Nandamuri", 50000, "HR")
emp2 = Employee("Krishna", "Ghattamaneni", 60000, "IT")
fte1 = FulltimeEmployee("Charan", "Konidela", 70000, "Finance")
fte2 = FulltimeEmployee("Nagarjuna", "Akkineni", 80000, "Operations")

# Accessing data
print("Total Employees:", Employee.employee_count)
print("Average Salary:", Employee.average_salary(FulltimeEmployee))

# Displaying individual details
print("Employee 1:", emp1.name, emp1.department)
print("Fulltime Employee 1:", fte1.name, fte1.department)

Total Employees: 4
Average Salary: 65000.0
Employee 1: Ganesh HR
Fulltime Employee 1: Charan Finance