1a. Input the string “Python” as a list of characters from console, delete at least 2
characters, reversetheresultant string, and print it.
Sample input:
• python
Sample output:
• htyp
1b. Take two numbers from user and perform at least 4 arithmetic operations on them.

In [1]:
i= input()
i=i[:-2]
print (i[::-1])

python
htyp

In [2]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

print("Addition:", n1+n2)
print("Subtraction:", n1-n2)
print("Multiplication:", n1*n2)

if n2!=0:
    print("Division:", n1/n2)
else:
    print("Division: Cannot divide by zero")

Enter first number: 78
Enter second number: 89
Addition: 167.0
Subtraction: -11.0
Multiplication: 6942.0
Division: 0.8764044943820225

2.Write a program that accepts a sentence and replace each occurrence of ‘python’ with
‘pythons’.
• Sample input:
•I love playing with python
• Sample output:
•I love playing with pythons

In [3]:
s = input("Enter input: ")
s = s.replace("python", "pythons")
print("Output:", s)

Enter input: I love python
Output: I love pythons

3.Use the if statement conditions to write a program to print the letter grade based on
an input class score. Use the grading scheme we are using in this class.

In [5]:
m = int(input())
if m >= 90:
  grade = "A"
elif m >= 80:
  grade = "B"
elif m >= 70:
  grade = "C"
elif m >= 60:
  grade = "D"
else:
  grade = "F"
print (grade)

76
C

4.Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
input = [23,"python", 23.98]
print([type(y) for y in input])

[<class 'int'>, <class 'str'>, <class 'float'>]

5. IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set IT_companies
• Add 'Twitter' to IT_companies
• Insert multiple IT companies at once to the set IT_companies
• Remove one of the companies from the set IT_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [9]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Insert multiple IT companies
IT_companies.update(['Infosys', 'TCS', 'CTS'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company from the set
IT_companies.remove('Oracle')  # Will raise error if 'Oracle' not found
print("After removing Oracle:", IT_companies)

# 5. Difference between remove and discard
# - remove() raises KeyError if item not found
# - discard() does not raise error
# Example:
# IT_companies.remove('NonExistent')  # This will raise an error
IT_companies.discard('NonExistent')   # This will NOT raise an error

print("Remove vs Discard: 'remove' raises error if item not found, 'discard' does not.")

# 6. Join A and B (union)
print("A union B:", A.union(B))

# 7. A intersection B
print("A intersection B:", A.intersection(B))

# 8. Is A subset of B
print("Is A subset of B?", A.issubset(B))

# 9. Are A and B disjoint sets
print("Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))  # Same result since union is symmetric

# 11. Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# 12. Delete the sets completely
del IT_companies
del A
del B

# 13. Convert ages to set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Google', 'Microsoft', 'Facebook', 'Oracle', 'Twitter', 'Amazon', 'IBM', 'Apple'}
After adding multiple companies: {'Infosys', 'Apple', 'Amazon', 'Microsoft', 'Facebook', 'CTS', 'Twitter', 'IBM', 'TCS', 'Google', 'Oracle'}
After removing Oracle: {'Infosys', 'Apple', 'Amazon', 'Microsoft', 'Facebook', 'CTS', 'Twitter', 'IBM', 'TCS', 'Google'}
Remove vs Discard: 'remove' raises error if item not found, 'discard' does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5